
body {
  font-family: 'Roboto', sans-serif !important;
  color: #222;
}

main {
  max-width: 900px;
  margin: auto;
}

.jumbotron {
  padding: 40px 0;
}

a {
  color: blue;
  text-decoration: none;
}

pre {
  border: 1px solid #ccc;
}

p, li {
  line-height: 125%;
}

hr {
  margin: 40px 0;
  height: 1px;
  color: #eee;
  background: #eee;
  font-size: 0;
  border: 0;
}

img {
  width: 100%;
  height: auto;
}

.example {
  display: inline-block;
  margin: 10px;
  width: 400px;
  text-align: center;
}

.example p {
  margin: 8px auto;
}

footer {
  text-align: center;
  font-size: 9pt;
  color: #aaa;
}

footer a {
  color: #999;
}