
* {
    font-family: sans-serif;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

a:hover {
    color: #357edd;
    transition: color .15s ease-in;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 23px;
    padding: 16px 64px;
}

header > a {
    font-size: 20px;
    font-weight: 600;
}

header > a > small {
    font-size: 14px;
    font-weight: 200;
}

nav {
    float: right;
}

nav a {
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
}

section {
    padding: 16px 64px;
}