{{ partial "header" . }}
{{ partial "nav" . }}
<main>
  <section>
    <article>
      <h1>Minijax</h1>
      <p>Fast and simple Jakarta EE</p>
    </article>
  </section>
  <section style="background-color: rgb(246, 255, 254); border-top: 1px solid rgba(0, 0, 0, 0.1);">
    <article>
      <h3>Getting Started</h3>
      Fast and simple Jakarta EE
    </article>
  </section>
  <section style="background-color: rgb(205, 236, 255); border-top: 1px solid rgba(0, 0, 0, 0.1);">
    <article>
      <h3>Principles</h3>
      Fast and simple Jakarta EE
    </article>
  </section>
</main>
{{ partial "footer" . }}